<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>The Percolation Threshold</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Bree+Serif|Lato&display=swap'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/css/foundation.min.css' integrity='sha256-GSio8qamaXapM8Fq9JYdGNTvk/dgs+cMLgPeevOYEx0= sha384-wAweiGTn38CY2DSwAaEffed6iMeflc0FMiuptanbN4J+ib+342gKGpvYRWubPd/+ sha512-QHEb6jOC8SaGTmYmGU19u2FhIfeG+t/hSacIWPpDzOp5yygnthL3JwnilM7LM1dOAbJv62R+/FICfsrKUqv4Gg==' crossorigin='anonymous'>
    <link type='text/css' rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link type='text/css' rel='stylesheet' href='/app.css'>

    <script type='text/javascript' src='/app.js'></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
